.rojo{
    background-color: red;
    height: 100px;
}

.verde{
    background-color: green;
    height: 100px;
}

.morado{
    background-color: purple;
    height: 100px;
}

.negro{
    background-color: black;
    height: 100px;
}

.naranja{
    background-color: orange;
    height: 100px;
}

.azul{
    background-color: blue;
    height: 100px;
}